* { /* body */
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

/* 防止控制器禁用后仍可以进行canvas拖拽，出现canvas外的内容 */
html, body {
    overflow: hidden;
}

 /*将canvas固定，以及防止触摸展示outline（边界线）*/
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}